 <!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>My Training Point</title>
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/cssS4.css">
    <style>
      @font-face { font-family: JuneBug; src: url('../font/SVN-Gilroy Bold.otf') format('truetype'); } 
    </style>
</head>
<body>
<nav class="navbar navbar-static-top">
    <div class="container-fluid">
        <!-- Navbar top -->
        <a class="navbar-brand" href="/sinhvien">
            <p style="color:#fff; font-family: font/SVN-Gilroy; font-weight: bold; font-size: 19px"> <img src="../img/LOGO.png" height="40" width="40" style="margin-top: -11px; margin-right: 10px">MY TRAINING POINT</p>
        </a>
        <!-- Diem -->
        <form class="navbar-form navbar-left" method="GET" role="search" >
            <div class="form-group">
                <p class="point"> <img src="../img/ic_medal.png" height="30" width="30" ><%=diem%></p>
            </div>
            <!-- Search -->
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Tìm kiếm tên hoạt động" id="nv_search" style="font-size: 15px" >
            </div>
        </form>
        <!-- Menu dropdowm -->
        <div class="nav navbar-nav navbar-right">
            <div class="btn-group show-on-hover">
                <div data-toggle="dropdown" style="margin-right: 10px">
                    <img src="../img/ic_setting.png" height="25" width="25" style="margin-top:12px; margin-right: 5px">
                    <span class="caret" style="color: #fff"></span>
                </div>
                <ul class="dropdown-menu" role="menu">
                    <li><a id="profile" href="profile">Profile</a></li>
                    <li><a id="help"href="help">Help</a></li>
                    <li><a id="doimatkhau"href="doimatkhau">Đổi mật khẩu</a></li>
                    <li class="divider"></li>
                    <li><a id="dangxuat"href="/logout">Đăng xuất <img src="../img/ic_logout.png" height="15" style="opacity: 50"></a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 navbar_left">
            <!-- Thông tin sinh viên -->
            <a href='profile' style=" text-decoration: none;">
            <div class="info">
                <img id="avatar" src="../img/2_avatar.png" class="img-responsive center-block" alt="Avatar" width="85px">
                <p class="name"> <%= datasv[0].Ten %> </p>
                <p class="mssv"> <%= datasv[0].MSSV %> </p>
            </div>
            </a>
            <br>
            <!-- Menu chức năng -->
            <div class="left-navigation" style="background-color: #fff" >
                <ul class="nav" id="nv_content" style="height: 375px">
                    <li><a id="hoatdong" href="hoatdong"><img src="../img/ic_hoatdong.png" height="28" style="margin-right: 14px; margin-left: 50px">HOẠT ĐỘNG</a></li>
                    <li class="active"><a id="thamgia" href="thamgia"><img src="../img/ic_thamgia.png" height="28" style="margin-right: 14px; margin-left: 50px">THAM GIA</a> </li>
                    <li><a id="goiy" href="goiy"><img src="../img/ic_goiy.png" height="28" style="margin-right: 16px; margin-left: 48px">GỢI Ý</a></li>
                    <li><a id="lotrinh" href="lotrinh"><img src="../img/ic_lotrinh.png" height="28" style="margin-right: 17px; margin-left: 47px">LỘ TRÌNH</a></li>
                    <li><a id="lienhe" href="lienhe"><img src="../img/ic_lienhe.png" height="28" style="margin-right: 17px; margin-left: 47px">LIÊN HỆ</a></li>
                </ul>
            </div>
        </div>
        <!-- Nội dung -->
        <div class="col-md-9">
            <!-- Mục 1-->
            <article class="module" style="margin-top: -5px">
                <div class="panel-heading">
                    <p class="col-md-1" style="background-color:#ffcc1b; color: #ffffff; font-family: SVN-Gilroy; font-weight: bold; border-radius: 8px 0 0 8px; width: 100px; height: 32px; font-size: 20px; text-align: center">MỤC I</p>
                    <!-- Phần trăm hoàn thành -->
                    <div class="col-md-10" style="height: 32px">
                        <div style="width:<%=tiendo.I%>%" class="progress-bar progress-bar-striped muc1" role="progressbar" >
                            <p id="txt_process1"><%=tiendo.I%>%</p>
                        </div>
                    </div>
                </div>
                <div class="scrollbar" class="style-default" style="margin-top: -5px; margin-left: 50px ">
                    <div class="" ="force-overflow" ></div>
                    <ul class="list-group" >
                    <%for(i = 0;i<dshd.length;i++){ if(dshd[i].MaLoai == 1){%>
                        <li class="list-group-item">
                            <%if(dshd[i].DaThamGia == 1){%>
                            <a href='thamgia/huythamgia/<%=dshd[i].MaHD%>'><button class="button  btn-primary pull-right thamgia" type="submit">Đã Tham Gia</button></a>
                            <%}else{%>
                            <a href='thamgia/<%=dshd[i].MaHD%>'><button class="button  btn-primary pull-right chuathamgia" type="submit">Chưa Tham Gia</button></a>
                            <%}%>
                            <%=dshd[i].Ten%>
                        </li>
                    <%}}%>
                    </ul>
                </div>
            </article>
            <!-- Mục 2 -->
            <article class="module">
                <div class="panel-heading">
                    <p class="col-md-1" style="background-color:#2f80ed; color: #ffffff; font-family: SVN-Gilroy; font-weight: bold; border-radius: 8px 0 0 8px; width: 100px; height: 32px; font-size: 20px; text-align: center">MỤC II</p>
                    <!-- Phần trăm hoàn thành -->
                    <div class="col-md-10" style="height: 32px">
                        <div style="width:<%=tiendo.II%>%" class="progress-bar progress-bar-striped muc2" role="progressbar" aria-valuenow="30"
                             aria-valuemin="0" aria-valuemax="100">
                            <p id="txt_process2"><%=tiendo.II%>%</p>
                        </div>
                    </div>
                </div>
                <div class="scrollbar" class="style-default" style="margin-top: -5px; margin-left: 50px ">
                    <div class="force-overflow" ></div>
                    <ul class="list-group" >
                    <%for(var i = 0;i<dshd.length;i++){ if(dshd[i].MaLoai == 2){%>
                        <li class="list-group-item">
                            <%if(dshd[i].DaThamGia == 1){%>
                            <a href='thamgia/huythamgia/<%=dshd[i].MaHD%>'><button class="button  btn-primary pull-right thamgia" type="submit">Đã Tham Gia</button></a>
                            <%}else{%>
                            <a href='thamgia/<%=dshd[i].MaHD%>'><button class="button  btn-primary pull-right chuathamgia" type="submit">Chưa Tham Gia</button></a>
                            <%}%>
                            <%=dshd[i].Ten%>
                        </li>
                    <%}}%>
                    </ul>
                </div>
            </article>
            <!-- Mục 3 -->
            <article class="module">
                <div class="panel-heading">
                    <p class="col-md-1" style="background-color:#C51162; color: #ffffff; font-family: SVN-Gilroy; font-weight: bold; border-radius: 8px 0 0 8px; width: 100px; height: 32px; font-size: 20px; text-align: center">MỤC III</p>
                    <!-- Phần trăm hoàn thành -->
                    <div class="col-md-10" style="height: 32px">
                        <div style="width:<%=tiendo.III%>%" class="progress-bar progress-bar-striped muc3" role="progressbar" aria-valuenow="10"
                             aria-valuemin="0" aria-valuemax="100">
                            <p id="txt_process3"><%=tiendo.III%>%</p>
                        </div>
                    </div>
                </div>
                <div class="scrollbar" class="style-default" style="margin-top: -5px; margin-left: 50px ">
                    <div class="force-overflow" ></div>
                    <ul class="list-group" >
                    <%for(var i = 0;i<dshd.length;i++){ if(dshd[i].MaLoai == 3){%>
                        <li class="list-group-item">
                            <%if(dshd[i].DaThamGia == 1){%>
                            <a href='thamgia/huythamgia/<%=dshd[i].MaHD%>'><button class="button  btn-primary pull-right thamgia" type="submit">Đã Tham Gia</button></a>
                            <%}else{%>
                            <a href='thamgia/<%=dshd[i].MaHD%>'><button class="button  btn-primary pull-right chuathamgia" type="submit">Chưa Tham Gia</button></a>
                            <%}%>
                            <%=dshd[i].Ten%>
                        </li>
                    <%}}%>
                    </ul>
                </div>
            </article>
            <!--Mục 4 -->
            <article class="module">
                <div class="panel-heading">
                    <p class="col-md-1" style="background-color: #00B8D4; color: #ffffff; font-family: SVN-Gilroy; font-weight: bold; border-radius: 8px 0 0 8px; width: 100px; height: 32px; font-size: 20px; text-align: center">MỤC IV</p>
                    <!-- Phần trăm hoàn thành -->
                    <div class="col-md-10 progress1" style="height: 32px">
                        <div style="width:<%=tiendo.IV%>%" class="progress-bar progress-bar-striped muc4" role="progressbar" aria-valuenow="40"
                             aria-valuemin="0" aria-valuemax="100">
                            <p id="txt_process4"><%=tiendo.IV%>%</p>
                        </div>
                    </div>
                </div>
                <div class="scrollbar" class="style-default" style="margin-top: -5px; margin-left: 50px ">
                    <div class="force-overflow" ></div>
                    <ul class="list-group" >
                    <%for(var i = 0;i<dshd.length;i++){ if(dshd[i].MaLoai == 4){%>
                        <li class="list-group-item">
                            <%if(dshd[i].DaThamGia == 1){%>
                            <a href='thamgia/huythamgia/<%=dshd[i].MaHD%>'><button class="button  btn-primary pull-right thamgia" type="submit">Đã Tham Gia</button></a>
                            <%}else{%>
                            <a href='thamgia/<%=dshd[i].MaHD%>'><button class="button  btn-primary pull-right chuathamgia" type="submit">Chưa Tham Gia</button></a>
                            <%}%>
                            <%=dshd[i].Ten%>
                        </li>
                    <%}}%>
                    </ul>
                </div>
            </article>
            <!--Mục 5-->
            <article class="module">
                <div class="panel-heading">
                    <p class="col-md-1" style="background-color:darkorange; color: #ffffff; font-family: SVN-Gilroy; font-weight: bold; border-radius: 8px 0 0 8px; width: 100px; height: 32px; font-size: 20px; text-align: center">MỤC V</p>
                    <!-- Phần trăm hoàn thành -->
                    <div class="col-md-10" style="height: 32px">
                        <div style="width:<%=tiendo.V%>%" class="progress-bar progress-bar-striped muc5" role="progressbar" aria-valuenow="82"
                             aria-valuemin="0" aria-valuemax="100">
                            <p id="txt_process5"><%=tiendo.V%>%</p>
                        </div>
                    </div>
                </div>
                <div class="scrollbar" class="style-default" style="margin-top: -5px; margin-left: 50px ">
                    <div class="force-overflow" ></div>
                    <ul class="list-group" >
                    <%for(var i = 0;i<dshd.length;i++){ if(dshd[i].MaLoai == 5){%>
                        <li class="list-group-item">
                            <%if(dshd[i].DaThamGia == 1){%>
                            <a href='thamgia/huythamgia/<%=dshd[i].MaHD%>'><button class="button  btn-primary pull-right thamgia" type="submit">Đã Tham Gia</button></a>
                            <%}else{%>
                            <a href='thamgia/<%=dshd[i].MaHD%>'><button class="button  btn-primary pull-right chuathamgia" type="submit">Chưa Tham Gia</button></a>
                            <%}%>
                            <%=dshd[i].Ten%>
                        </li>
                    <%}}%>
                    </ul>
                </div>
            </article>
            <!--Mục 6-->
            <article class="module">
                <div class="panel-heading">
                    <p class="col-md-1" style="background-color:#00BFA5; color: #ffffff; font-family: SVN-Gilroy; font-weight: bold; border-radius: 8px 0 0 8px; width: 100px; height: 32px; font-size: 20px; text-align: center">MỤC VI</p>
                    <!-- Phần trăm hoàn thành -->
                    <div class="col-md-10" style="height: 32px">
                        <div style="width:<%=tiendo.VI%>%" class="progress-bar progress-bar-striped muc6" role="progressbar" aria-valuenow="38"
                             aria-valuemin="0" aria-valuemax="100">
                            <p id="txt_process6"><%=tiendo.VI%>%</p>
                        </div>
                    </div>
                </div>
                <div class="scrollbar" class="style-default" style="margin-top: -5px; margin-left: 50px ">
                    <div class="force-overflow" ></div>
                    <ul class="list-group" >
                    <%for(var i = 0;i<dshd.length;i++){ if(dshd[i].MaLoai == 6){%>
                        <li class="list-group-item">
                            <%if(dshd[i].DaThamGia == 1){%>
                            <a href='thamgia/huythamgia/<%=dshd[i].MaHD%>'><button class="button  btn-primary pull-right thamgia" type="submit">Đã Tham Gia</button></a>
                            <%}else{%>
                            <a href='thamgia/<%=dshd[i].MaHD%>'><button class="button  btn-primary pull-right chuathamgia" type="submit">Chưa Tham Gia</button></a>
                            <%}%>
                            <%=dshd[i].Ten%>
                        </li>
                    <%}}%>
                    </ul>
                </div>
            </article>
        </div>

    </div>
</div>
</body>
</html>