<!DOCTYPE html>
<html>
<head>
	<title>Sửa Hoạt Động</title>
	<script type="text/javascript">
		function clickbtn() {
			window.location.href = '/admin/danh-sach-hd';
		}
	</script>
</head>
<body>
  <a href="/admin/danh-sach-hd/xoa-hd/<%= hd[0].MaHD %>"><button type="button" name="button">Xóa Hoạt Động</button></a>
	<form action="/admin/danh-sach-hd/sua-hd/<%= hd[0].MaHD %>" method="post">
		<input type="text" name="MaHD" value="<%= hd[0].MaHD %>" placeholder="Mã hoạt động"><br>
		<label for="MaLoai">Tên Loại hoạt động: </label>
		<select name="MaLoai">
			<% for (var i = 0; i < dslhd.length; i++) { %>
        <% if(hd[0].MaLoai == dslhd[i].MaLoai) { %>
          <option selected value="<%= dslhd[i].MaLoai %>"><%= dslhd[i].Ten %></option>
        <%}else{%>
          <option value="<%= dslhd[i].MaLoai %>"><%= dslhd[i].Ten %></option>
        <%}%>
			<% } %>
		</select> <br>
		<input type="text" name="Ten" value="<%= hd[0].Ten %>" placeholder="Tên hoạt động"><br>
		<input type="number" value="<%= hd[0].SoDRLDatDuoc %>" name="SoDRLDatDuoc" placeholder="Số điểm rèn luyện cho hoạt động"><br>
		<label for="NgayToChuc">Ngày tổ chức</label>
		<input type="date" value="<%= hd[0].NgayToChuc.toLocaleDateString() %>" name="NgayToChuc"><br>
		<input type="text" value="<%= hd[0].DiaDiemToChuc %>" name="DiaDiemToChuc" placeholder="Địa điểm tổ chức"><br>
		<input type="number" value="<%= hd[0].SoLuongThamGia %>"  name="SLTG" placeholder="Số lượng tham gia"><br>
		<input type="submit" value="Cập nhật">
	</form>
	<button onclick="clickbtn();">Hủy</button>
</body>
</html>
