<!DOCTYPE html>
<html>
<head>
	<title>Thêm Loại Hoạt động</title>
	<script type="text/javascript">
		function clickbtn() {
			window.location.href = '/admin/danh-sach-lhd';
		}
	</script>
</head>
<body>
	<form action="/admin/danh-sach-lhd/them-lhd" method="post">
		<input type="text" name="MaLoai" placeholder="Mã Loại hoạt động"><br>
		<input type="text" name="Ten" placeholder="Tên"><br>
		<input type="text" name="TDTD" placeholder="Tổng điểm tối đa"><br>
		<input type="submit" value="Thêm">
	</form>
	<button onclick="clickbtn();">Hủy</button>
</body>
</html>
